<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--可以根据 , 、,; 、;进行分割-->
	<bean class="com.hermes.entity.User" name="user1;user2;user6;user7" id="user">
		<property name="vip">
			<bean id="inner" class="com.hermes.entity.User$Vip">
				<constructor-arg ref="user"/>
				<property name="vipLevel" value="9"/>
			</bean>
		</property>
	</bean>
	<alias name="user" alias="user1"/>
	<alias name="user" alias="user2"/>
</beans>
